<div class="usa-week-calendar-wrapper" #calendarWrapper>
  <div class="usa-week-calendar-toggle">
    <span *ngIf="!selectedValue"
      >Week
      <span #weekNumberRef class="week-number" (click)="onClickWeekNumber()"
        >--</span
      >, <span #yearRef (click)="onClickYear()" class="year">----</span></span
    >
    <span *ngIf="selectedValue">{{ selectedValue }}</span>
    <span class="usa-week-calendar-icon" #calendarToggle
      ><calendar-icon></calendar-icon
    ></span>
  </div>
  <span class="usa-week-calendar-icon fa fa-calendar-o"></span>
  <div class="usa-week-calendar-dropdown" #calendarDropdown>
    <div class="calendar-header">
      <div class="selector">
        <select [(ngModel)]="selectedMonth" (change)="calcWeeks()">
          <option [value]="i + 1" *ngFor="let month of months; let i = index">
            {{ month }}
          </option>
        </select>
        <select [(ngModel)]="selectedYear" (change)="calcWeeks()">
          <option [value]="year" *ngFor="let year of years; let i = index">
            {{ year }}
          </option>
        </select>
      </div>
      <div class="btns">
        <div class="previous" (click)="previous()">&#8249;</div>
        <div class="next" (click)="next()">&#8250;</div>
      </div>
    </div>
    <div class="calendar-body">
      <table>
        <thead>
          <tr>
            <th>Week</th>
            <th *ngFor="let week of weeks">{{ week }}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="selected"
            [ngClass]="{ highlight: selectedWeekNumber === weekNumber }"
            *ngFor="let weekNumber of weekNumbers"
            (click)="
              onSelectWeekNumber(dateGroupByWeek[weekNumber], weekNumber)
            "
          >
            <th class="week">{{ weekNumber }}</th>
            <td *ngFor="let week of weeks" class="date">
              {{ returnDateByWeekNumber(dateGroupByWeek[weekNumber], week) }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="calendar-foot">
      <span></span>
      <span class="this-week" (click)="onSelectThisWeek()">This Week</span>
    </div>
  </div>
</div>
