<h2>
  Ngx Week Calendar (United States) -
  <a
    href="https://www.timeanddate.com/calendar/?year=2021&country=1&wno=1"
    target="_blank"
    >Reference</a
  >
</h2>

<h4>Use with Reactivive Form</h4>
<form novalidate [formGroup]="form">
  <div class="width-150">
    <usa-week-calendar
      name="week-calendar"
      (ngModelChange)="onChangeWeekCalendar($event)"
      formControlName="weekNumber"
    ></usa-week-calendar>
  </div>
</form>

<br />
<div>
  model:
  <pre>{{ control.value ? (control.value | json) : '' }}</pre>
</div>
