.usa-week-calendar-wrapper {
  min-width: 120px;
  border: 1px solid rgb(199, 192, 192);
  padding: 4px;
  position: relative;
  min-height: 15px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 0.85em;
  display: flex;
  align-items: center;
  justify-content: start;
}

.usa-week-calendar-icon {
  position: absolute;
  top: 5px;
  color: black;
  right: 5px;
}

.usa-week-calendar-dropdown {
  box-shadow: 1px 1px 5px #ccc;
  -webkit-box-shadow: 1px 1px 5px #ccc;
  -moz-box-shadow: 1px 1px 5px #ccc;
  -ms-box-shadow: 1px 1px 5px #ccc;
  border: 1px solid #ccc;
  display: none;
  position: absolute;
  top: 28px;
  background-color: white;
  left: 0;
  padding: 3px 7px;
  z-index: 3;
  min-width: 210px;
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .btns {
    display: flex;
    .previous,
    .next {
      padding: 5px;
      font-size: 1rem;
      cursor: pointer;
    }
  }
}

.selector {
  display: flex;
  column-gap: 5px;
  select {
    font-size: 0.75;
    border-color: #ccc;
  }
}

.calendar-body {
  > table {
    width: 100%;
    border-collapse: collapse;
    tr th {
      font-weight: 550;
    }
    tr td,
    tr th {
      padding: 3px 5px;
      text-align: center;
    }
  }
  .highlight,
  .highlight:hover,
  .selected:hover {
    background-color: #a4dcf7;
    cursor: pointer;
  }
}

.calendar-foot {
  display: flex;
  justify-content: space-between;
}

.this-week {
  color: #2ba3c4;
  cursor: pointer;
  font-size: 0.6;
}

.caret {
  position: relative;
}

.caret-bottom:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 5px solid #201c1c;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.caret-bottom:after {
  content: '';
  position: absolute;
  left: 1px;
  top: 0;
  border-top: 4px solid #0d0c0c;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.caret-top:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 5px solid #201c1c;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.caret-top:after {
  content: '';
  position: absolute;
  left: 1px;
  top: 1px;
  border-bottom: 4px solid #0d0c0c;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.week-number,
.year {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
